@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 80px;
}
header .logo {
  color: #000;
  font-size: 35px;
  text-decoration: none;
}
header .middle a {
  padding-right: 10px;
  color: #444;
  text-decoration: none;
}
header .end a {
  padding-right: 10px;
  color: #444;
  text-decoration: none;
}

.main-section {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.main-section .main-container {
  width: 100%;
  height: 100%;
}
.main-section .main-container .info {
  width: 600px;
  height: 520px;
  margin: 10px;
}
.main-section .main-container .info .category {
  left: 35%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-section .main-container .info .category h2 {
  font-size: 45px;
  color: #000;
}
.main-section .main-container .info .category p {
  color: #000;
}
.main-section .main-container .info .category .shop-btn {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.main-section .main-container .info .category .shop-btn:hover {
  background-color: rgb(0, 225, 255);
  color: #000;
  transform: scale(1.1);
}
.main-section .main-container .image {
  width: 450px;
  height: 520px;
  margin: 10px;
}
.main-section .main-container .image .image-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-section .main-container .image .image-container img {
  height: 100%;
}

.for-none {
  width: 100%;
  height: 87vh;
}

.catogories-section {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 40px;
}
.catogories-section .title {
  color: #000;
  font-size: 30px;
  margin-bottom: 70px;
}
.catogories-section .c-container .cart {
  width: 300px;
  height: 400px;
  background-color: blue;
  margin: 10px;
}
.catogories-section .c-container .cart .c-image {
  width: 100%;
  height: 85%;
  background-color: red;
}
.catogories-section .c-container .cart .c-image img {
  width: 100%;
}

.third-section {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 120px;
}
.third-section .title {
  color: #000;
  font-size: 30px;
  margin-bottom: 70px;
}
.third-section .p-container .p-cart {
  width: 300px;
  height: 400px;
  background-color: blue;
  margin: 5px;
}
.third-section .p-container .p-cart .p-image {
  width: 100%;
  height: 85%;
  background-color: red;
}
.third-section .p-container .p-cart .p-image img {
  width: 100%;
}
.third-section .p-container .p-cart-info {
  width: 300px;
  height: 400px;
  margin: 0 50px;
}
.third-section .p-container .p-cart-info h2 {
  color: #222;
}
.third-section .p-container .p-cart-info p {
  color: #222;
}
.third-section .p-container .p-cart-info .p-btn {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s ease;
}
.third-section .p-container .p-cart-info .p-btn:hover {
  background-color: rgb(0, 195, 255);
  color: #fff;
  transform: scale(1.1);
}

.four-section {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 100px;
}
.four-section .a-container {
  width: 100%;
  height: 100%;
}
.four-section .a-container .a-cart {
  width: 650px;
  height: 350px;
  background-color: blue;
  margin: 10px;
}
.four-section .a-container .a-cart .a-image {
  width: 100%;
  height: 100%;
  background-color: red;
}
.four-section .a-container .a-cart .a-image img {
  width: 100%;
}

.email-section {
  width: 100%;
  height: 50vh;
}
.email-section form input {
  width: 300px;
  height: 40px;
  border: none;
  border-right: 1px solid #000;
  background-color: #ddd;
  padding: 5px;
}
.email-section form button {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #111;
}
footer .about {
  width: 60%;
  height: 100%;
}
footer .about .abour-cart {
  padding: 20px 10px;
  width: 250px;
  height: 300px;
}
footer .about .abour-cart .name {
  color: #fff;
}
footer .about .abour-cart .name:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 2px;
  background-color: blue;
}
footer .about .abour-cart .category {
  bottom: 0;
}
footer .about .abour-cart .category p {
  color: #999;
}
footer .about::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 300px;
  background-color: #444;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
footer .contact {
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  padding: 30px;
}
footer .contact .contact-cart {
  top: 25%;
}
footer .contact .contact-cart .name {
  color: #777;
}
footer .contact .contact-cart .social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin: 0 5px;
  color: #777;
  transition: 0.1s ease-in-out;
}
footer .contact .contact-cart .social-icons a:hover {
  color: blue;
}
footer .contact .contact-cart-2 {
  bottom: 20%;
}
footer .contact .contact-cart-2 h2 {
  font-size: 20px;
  color: #777;
}/*# sourceMappingURL=style.css.map */